body{
  font-family: Arial;
  margin:0;
  position: relative;
}

/* Controls all of the navigation css */
.logo{
  display: none;
}
.nav{
  display:flex;
  width:100%;
  position: relative;
  z-index: 1;
  height:55px;
  background-color: #292c2f;
}

.Content{
  display: none;
  width:100%;
}
.nav a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-align: center;
  background-color:inherit;
}

.nav .navigation{
  padding: 0px;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.nav .navigation .top{
  border-right: 1px solid #fffff7;
  padding: 4px;
  display: inline-block;

}

.submenu{
  display: none;
  position: absolute;
  background-color: #292c2f;
  margin-top:20px;
  padding: 0;
  list-style-type: none;
}

.submenu li{
  margin-left: 0;
  padding: 10px;
}

.submenu li:hover{
  background-color: #ccc;
  color: #000
}


.sendbtn{
  background-color: #1C1475;
  color: #f1f1f1;
  border-radius: 4px;
  padding: 6px;
  border: none;
  font-family: 'Roboto',sans-serif;
}

/* End of navigation css */



/* Controls image css */
.image{
  position: relative;
  background-color: none;
}
.image img{
  max-height:200px;
  max-width:900px;
  min-width: 301px;
  width:100%;
}
.imageText{
  opacity: 0.8;
  position: absolute;
  color: white;
  background-color: black;
  bottom: 6px;
  left: 0px;
  font-size: 28px;
}
/* end of image css */

/* Controls main content of page css*/
.mainContent{
  text-align: left;
  height:100%;
  background-color: #F5F5F5;
  padding-bottom: 15px;
  color: #000;
}

.mainContent ol{
  margin-bottom: 15px;
}
.mainContent li{
  padding-top: 5px;
}
.mainContent h1{
  text-align: center;
  margin-top: 0;
}
.mainContent p:last-child{
  margin:0 0 0 0;
}
.mainContent ol:last-child{
  margin:0 0 0 0;
}
.mainContent img{
  max-width: 400px;

  width: 100%;
}

/* End of main css*/

/* controls the card css */
.card {
   background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 4px;
    max-width: 220px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
.card:hover {
    box-shadow: 0 8px 96px 0 rgba(0, 0, 0, 0.3);
}
.cardimage{
  position: relative;
  background-color: #4ABDAC;
  max-height: 140px;
}
.cardimage img{
}
.cardImageText{
  position: absolute;
  color: white;
  background-color: black;
  opacity: 0.8;
}
.container {
  }
.container p {
  font-size: 15px;
  margin:4px;
  margin-bottom: 8px;
  }

.actions{
  padding-bottom: 15px;
}

/* end of card css */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* To make the footer responsive */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/* controls form css */
form {
  width: 310px;
  height:400px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.FormDiv {
  background-color: #f1f1f1;
}
label {
  float:left;
  padding-left: 12px;
  padding-top: 10px;
}
input{
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.buttonform button{
  color: white;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:15px;
}

@media only screen and (min-width:650px){
  body{
    background-color: #F5F5F5;
    background-image: url('../images/bgimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .nav{
    height: 85px;
  }
  .nav a{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
  }
  .nav .navigation{
    margin-left: 0px;
    margin-right: 0px;
  }

.main{
    width: 65%;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    border-left: 1px solid;
    border-right:1px solid;
    box-shadow: 0 8px 120px 0 rgba(0, 0, 0, 0.3);
    height:100%;
    background-color: #f5f5f5;
    max-width: 1250px;
  }
  .mainContent{
    font-size:22px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .mainContent h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  .mainContent p{
    font-family: 'Roboto light', sans-serif;
    margin-left: 8px;
  }
  .image img{
    max-height:660px;
    max-width:1200px;
    width:100%;
  }
  .imageText{
    margin-left: 40%;
    margin-right: 40%;
  }
  .card {
      margin-left: 25px;
    }
  .logo{
    display: block;
    margin-top: 7.5px;
    width: 165px;
    height: 70px;
    background-image: url("../images/pet.png");
    background-size:100%;
    background-repeat: no-repeat;
  }
}
